body {
    background-color: #ededed;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
    background-color: #1a4cb6;
    text-transform: uppercase;
    padding: 1%;
}

nav figure {
    display: inline;
}

a[href] {
    color: black;
    text-decoration: none;
}

a[href]:hover {
    color: #ff3333;
}

header {
    text-transform: uppercase
}

header > h1 {
    font-size: 300%;
}

footer {
    background-color: #262626;
    color: white;
}

footer a[href] {
    color: white;
}