@font-face {
    font-family: 'woff';
    font-display: swap;
    src: url('woff.ttf');
}
body {
    background-color: #ededed;
    transition-duration: .1s;
    margin: 0;
    padding: 0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'woff';
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding: 1em;
}

header {
    background-color: #1a4cb6;
    padding: 0;
    height: 140px;
}

header nav {
    margin-top: 40px;
    font-size: 120%;
}

header nav a {
    margin: 10px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: inherit;
}

header div > a {
    padding: 0;
    margin: 1% 0;
}

header img:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

a[href] {
    color: black;
    text-decoration: none;
}

a[href]:hover {
    color: #ff3333;
}

nav, h1, h2, h3 {
    text-transform: uppercase
}

nav > h1 {
    font-size: 300%;
}

nav div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 150%;
    flex-basis: 25%;
}
nav div * {
    margin: 10px 5px;
}
nav div *:first-child {
    margin-left: 0;
}
nav div *:last-child {
    margin-right: 0;
}

body > nav a {
    padding: 20px;
    width: 265px;
    height: 110px;
}
body > nav a[href]:hover {
    color: unset;
}

body > nav a:nth-of-type(1) {
    background: #ff3333;
}
body > nav a:nth-of-type(2) {
    background: #ffb222;
}
body > nav a:nth-of-type(3) {
    background: #18733a;
}
body > nav a:nth-of-type(4) {
    background: #026dfa;
}

main section h2 {
    border: 2px solid #1a4cb6;
    border-left: none;
    border-right: none;
    color: #1a4cb6;
    margin: 1.5em 0;
    padding: .1em 6%;
    padding-top: .2em;
    font-size: 250%;
}

main section ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main section ul li {
    flex-basis: 20%;
    margin: 0 auto;
}
main section ul li img {
    width: 100%;
}

ul {
    padding: 0;
}

footer {
    background-color: #262626;
    color: white;
    height: 500px;
    overflow: scroll;
}

footer > div > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer a[href] {
    color: white;
}

footer h2 {
    border-bottom: 1px solid white;
    padding: .1em 6%;
    margin-top: 0;
    font-size: 250%;
}

footer section {
    width: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-1 {
    flex-basis: 8.3333%;
}

.col-2 {
    flex-basis: 16.6666%;
}

.col-3 {
    flex-basis: 24.9999%;
}

.col-4 {
    flex-basis: 33.3333%;
}

.col-5 {
    flex-basis: 41.6665%;
}

.col-6 {
    flex-basis: 49.9998%;
}

.col-7 {
    flex-basis: 58.3331%;
}

.col-8 {
    flex-basis: 66.6664%;
}

.col-9 {
    flex-basis: 74.9997%;
}

.col-10 {
    flex-basis: 83.3333%;
}

.col-11 {
    flex-basis: 91.6663%;
}

.col-12 {
    flex-basis: 100%;
}